<nav class="navbar navbar-expand-lg bg-body-tertiary fix">
    <div class="container-fluid p-2">
      <a class="navbar-brand ms-1" [routerLink]="['/tasks']">
        <h3><fa-icon [icon]="faListCheck" class="m-3"></fa-icon>Task Manager</h3>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
        </ul>
        <div class="d-flex align-items-center">
          <span *ngIf="isLoggedIn" class="me-3 text-white">Welcome, {{ username }} !</span>
          <h4 class="mt-1" (click)="logout()" title="Logout" style="cursor: pointer;">
            <fa-icon [icon]="faRightFromBracket" class="text-white"></fa-icon>
          </h4>
        </div>
      </div>
    </div>
  </nav>