<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card shadow">
        <div class="card-body p-4">
          <h2 class="text-center mb-4">Login</h2>

          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input formControlName="username" type="text" class="form-control" id="username"
                placeholder="Enter your username">
              <div *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid" class="text-danger">
                <div *ngIf="loginForm.get('username')?.hasError('required')">Username is required.</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input formControlName="password" type="password" class="form-control" id="password"
                placeholder="Enter your password">
              <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="text-danger">
                <div *ngIf="loginForm.get('password')?.hasError('required')">Password is required.</div>
              </div>
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
              <div class="alert alert-dismissible fade show mt-3" *ngIf="alertService.message" [ngClass]="alertService.alertClass" role="alert">
                {{ alertService.message }}
              </div>
            </div>
          </form>

          <div class="position-relative my-4">
            <br>
            <p class="small position-absolute top-50 start-50 translate-middle px-2">Don't have an account?</p>
          </div>

          <div class="d-grid gap-2">
            <button routerLink="/register" type="button" class="btn btn-outline-secondary">Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>